body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    position: fixed;
    background-color: white;
    width: 100%;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    justify-content: flex-end;
    gap: 50px;
}

.photo {
    padding: 20px;
}

.photo > img {
    height: auto;
    width: 300px;
    position: relative;
    z-index: -2;
}

.circle-pink {
    height: 250px;
    width: 250px;
    background-color: #FF4F4F;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    right: 400px;
    z-index: -1;
}

.circle-beige {
    height: 400px;
    width: 400px;
    background-color: #CAB9A9;
    border-radius: 50%;
    position: absolute;
    right: 450px;
    top: 200px;
    z-index: -3;
}

.square-blue {
    height: 350px;
    width: 400px;
    background-color: #DEF4FF;
    position: absolute;
    top: 350px;
    right: 700px;
    z-index: -4;
}

.banner {
    text-align: center;
    padding: 150px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner-header > h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.banner-header > h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.about-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description {
    padding: 0 100px;
}

.description > p {
    text-align: justify;
}

.selected-works {
    text-align: center;
    background-color: #DEF4FF;
    padding-bottom: 100px;
}

.selected-works > .items {
    display: flex;
    justify-content: space-around;
}

.item {
    width: 25%;
    height: auto;
}

.item > img {
    padding: 20px;
    width: 30%;
}

.skill-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3em 100px;
}

.skill-grid > img {
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 0 auto;
}

.skills-technologies {
    margin: 50px;
}

.experience {
    margin: 50px 200px;
}

.section-title {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    padding: 40px 100px;
}

.footer {
    background: #F4F4F4;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    color: rgba(0,0,0,0.3);
    bottom: 0px;
}

.footer > .fa-heart {
    color: #D23333;
}
  
.footer-links {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

.footer-links > a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links > a:hover {
    opacity: 1;
}
  