.banner {
    text-align: center;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1560791005/DKB%20Cuba%20-%20Trinidad.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    color: white;
}

.banner > h1 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.banner > h3 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

.banner > h4 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 500;
}

.about-me > h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.about-me {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}

.photo {
    padding: 20px;
}

.photo > img {
    height: auto;
    width: 300px;
    
}

.description {
    padding: 20px;
    width: 60%;
}

.selected-works {
    text-align: center;
    margin: 50px;
}

.selected-works > .items {
    display: flex;
    justify-content: space-around;
}

.item {
    width: 25%;
    height: auto;
}

.item > img {
    padding: 20px;
    width: 30%;
}

.skill-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3em 20px 3em 20px;
}

.skill-grid > img {
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 0 auto;
}

.skills-technologies {
    margin: 50px;
}

.experience {
    margin: 50px 200px;
}

.reviews {
    margin: 50px;
}

.section-title {
    text-align: center;
}

.contact-section {
    margin: 50px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.footer {
    background: #F4F4F4;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    color: rgba(0,0,0,0.3);
    bottom: 0px;
}

.footer > .fa-heart {
    color: #D23333;
}
  
.footer-links {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

.footer-links > a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links > a:hover {
    opacity: 1;
}
  