// Define variables for your color scheme

$light-gray: #F4F4F4;

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: large;
    position: fixed;
    background-color: white;
    width: 100%;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-end;
    gap: 50px;
    padding: 25px 100px;
}

.photo {
    padding: 20px;
}

.photo > img {
    height: auto;
    width: 300px;
    position: relative;
    z-index: -2;
}

.circle-pink {
    height: 250px;
    width: 250px;
    background-color: #FF4F4F;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    right: 400px;
    z-index: -1;
}

.circle-beige {
    height: 400px;
    width: 400px;
    background-color: #CAB9A9;
    border-radius: 50%;
    position: absolute;
    right: 450px;
    top: 200px;
    z-index: -3;
}

.square-blue {
    height: 350px;
    width: 400px;
    background-color: #DEF4FF;
    position: absolute;
    top: 350px;
    right: 700px;
    z-index: -4;
}

.banner {
    text-align: center;
    padding: 150px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.banner-header > h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.banner-header > h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.about-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.description {
    padding: 0 100px;
}

.description > .title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.description > p {
    text-align: justify;
}

.selected-works {
    text-align: center;
    background-color: #DEF4FF;
    padding-bottom: 100px;
}

.selected-works > .items {
    display: flex;
    justify-content: space-around;
}

.item {
    width: 25%;
    height: auto;
}

.item > img {
    padding: 20px;
    width: 100%;
}

.skill-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 3em 100px;
}

.skill-grid > img {
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 0 auto;
}

.skills-technologies {
    margin: 50px;
}

.experience {
    margin: 50px 200px;
}

.section-title {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    padding: 40px 100px;
}

.footer {
    background: #F4F4F4;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    color: rgba(0,0,0,0.3);
    bottom: 0px;
}

.footer > .fa-heart {
    color: #D23333;
}
  
.footer-links {
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

.footer-links > a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}

.footer-links > a:hover {
    opacity: 1;
}

// Projects
.card-project {
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 180px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
  
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 280px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.card-project, .card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.card-project {
    background-color: #bbb;
    color: black;
}
  
/* Style the back side */
.card-info {
    h4 {
      padding-top: 5px;
    }
    background-color: #98B6BF;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
}

.modal-body {
    padding: 20px;
  
    img {
      // max-width: 100%;
      // height: auto;
      max-height: 400px;
      width: auto;
      margin: 0 auto;
    }
  
    a {
      margin: 0 auto;
      text-align: left;
    }
  
    p {
      text-align: left;
    }
  
    ul {
      li {
        text-align: left;
      }
    }
  
    .large-photo {
      max-width:300px;
      height: auto;
    }
  
    .carousel-control-next {
     filter: invert(50%);
    }
  
    .carousel-control-prev {
      filter: invert(50%);
    }

    .carousel-control-prev-icon {
        color: $light-gray;
    }

    .carousel-control-next-icon {
        color: $light-gray;
    }

    .sr-only {
        color: $light-gray;
    }
}

.example-title {
    text-align: center;
    margin-bottom: 0px;
    padding: 1em 0;
    border-bottom: 1px solid #E4EAEC;
    border-top: 1px solid #E4EAEC;
    p {
        margin: 0 auto;
        font-size: 16px;
        max-width: 400px;
    }
}
  
input[type="radio"] {
      display:none;
}
  
label {
    width:25%;
    float:none;
    text-align:center;
    background:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#222222;
    padding:10px;
    margin:5px;
    margin-bottom:30px;
    cursor:pointer;
}
  
.filter-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info p{
    padding: 10px;
}

.tile {
    height:100%;
    transition:all 1s;
  
    // Smallest device
    @media (min-width: 100px) and (max-width: 575px) {
        width:98%;
        float:none;
        margin:0 auto;
        padding:1%;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        width:98%;
        float:none;
        margin:0 auto;
        padding:1%;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        width:49%;
        float:left;
        margin:0.5%;
        padding:0.5%;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        width:32%;
        float:left;
        margin:0.5%;
        padding:0.5%;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        width:31%;
        float:left;
        margin:1%;
        padding:1%;
    }
}

input[type="radio"][id="structural"]:checked + label {
  border-bottom: 2px solid black;
}

input[type="radio"][id="structural"]:checked ~ .developer {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id="developer"]:checked + label {
  border-bottom: 2px solid black;
}


input[type="radio"][id="developer"]:checked ~ .structural {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id="all"]:checked + label {
  border-bottom: 2px solid black;
}

input[type="radio"][id="all"]:checked ~ .structural, input[type="radio"][id="all"]:checked ~ .developer {
  display: "";
}


//Tabs

.tabs-underlined {
  display: flex;
  align-items: center;
}


//Cards

#special-card-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #98B6BF;
}